body {
    font-family: sans-serif;

}

.title {
    padding: 1em;
    flex-direction: column;
}

li {
    list-style-type: none;
  }

#root {
    display: flex;
    flex-direction: row;
    
}

#sidebar {
    padding: 1em;
    flex-direction: row;
    width: 20%;

}

.main-area {
    padding: 1em;
    flex-direction: row;  
    width: 80%;
}

